*{
    margin: 0;
    padding: 0;  
    font-family: Arial, Helvetica, sans-serif; 
}
.carousel-inner{
  font-family: Arial, Helvetica, sans-serif; 
}
h5{
  font-family: Arial, Helvetica, sans-serif; 
}
.card-text{
  font-family: Arial, Helvetica, sans-serif; 
}
body{
  background-color: rgb(82, 36, 36);
}
.header{
  background-color: green;
}
.d-block{
height: 60vh;
width: 100%;
}
.navbar navbar-expand-lg navbar-light bg-light{
  overflow: hidden;
}
.carousel slide{
  overflow: hidden;
}
.cards{
    position: relative;
}
body{
    background: #fcfcfc;
    font-family: sans-serif;
}
.cards{
  overflow: hidden;
}
footer{
  overflow: hidden;
    position: relative;
    bottom: 2px;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 98.5vw;
    height: 55vh;
    padding-top: 40px;
    color: #fff;
  }
  .footer-content{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

  .footer-content h3{
    overflow: hidden;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
  overflow: hidden;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
  overflow: hidden;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
  overflow: hidden;
    margin: 0 10px;
}

.socials a{
  overflow: hidden;
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}
.footer-bottom{
  overflow: hidden;
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
  overflow: hidden;
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
  overflow: hidden;
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
  overflow: hidden;
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
 .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }
  @media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }

    .Hamza{
      height: 28px;
    border-radius: 50%;
    }
    .box-wrapper{
      height: 126px;
    border-style: solid;
    width: 489px;
    padding: 16px;
    margin: 18px;
    }
     .card-img-top{
      height: 217px;
    width: 348px;
    } 
    .formdesign input {
      width: 50%;
      padding: 12px 20px;
      border: 1px solid blue;
      margin: 1px 272px;
      border-radius: 4px;
      font-size: 15px;
      display: flex;
    text-align: center;
    justify-content: center;
  }

  .formerror {
      color: red;
    
  }

  .but {
      border-radius: 9px;
      width: 100px;
      height: 50px;
      font-size: 25px;
      margin: 22px 20px;
  }
  /* .formdesign{
    display: flex;
    justify-content: center;
    height: 77px;
     width: 1247px; 
  } */
   .Ali{
    height: 53px;
    width: 631px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 272px;
} 
.Aoun{
  margin: 1px 95px;
}

